___

<a href='https://mainacademy.ua/'> <img src='https://mainacademy.ua/wp-content/uploads/2019/03/logo-main.png' alt = 'Хмм, щось з інтернетом'/></a>
___

# Module 5: Data analysis with NumPy and Pandas

## Lab work 5.2

#### Мета: 

* навчитися працювати із бібліотекою Pandas в Python.

### Завдання:

In [1]:
import pandas as pd

Вивести версію та конфігурацію бібліотеки:

In [3]:
print (pd.__version__)

1.2.4

In [2]:
df = pd.read_csv('Ecommerce Purchases.csv')

Скільки рядків і стовпців в наборі даних:

In [6]:
df.shape

(10000, 14)

Перевірити, чи в наборі даних містяться порожні значення:

In [18]:
df[df.isnull()].value_counts()

Series([], dtype: int64)

Яка середня ціна закупки (Purchase Price):

In [7]:
df['Purchase Price'].mean ()

50.34730200000025

Скільки людей користуються англійською мовою "en" на веб-сайті:

In [9]:
df[df['Language'] == 'en'].value_counts().shape[0]

1098

Скільки людей має посаду «Lawyer»?

In [10]:
df[df['Job'] == 'Lawyer'].value_counts().shape[0]

30

Скільки людей зробило покупку вранці та скільки людей зробило покупку після обіду?

In [12]:
m = df[df['AM or PM'] == 'AM'].value_counts().shape[0]
e = df[df['AM or PM'] == 'PM'].value_counts().shape[0]
print('Вранці: ' + str(m), 'Після обіду: ' + str(e))

Вранці: 4932 Після обіду: 5068

Які 5 найпоширеніших назв вакансій?

In [16]:
df['Job'].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
Name: Job, dtype: int64

Хтось здійснив покупку, яка надійшла від Lot: "90 Wt", та якою була ціна придбання для цієї транзакції?

In [14]:
df[df['Lot'] == '94 vE']['Purchase Price'].values[0]

0.95

Яка електронна адреса особи з таким номером кредитної картки: 4926535242672853 ?

In [15]:
df[df['Credit Card'] == 4926535242672853]['Email'].values[0]

'bondellen@williams-garza.com'

Скільки людей використовує American Express  і здійснили покупку на суму понад 100 доларів?

In [20]:
df[df['CC Provider'] == 'American Express'][df['Purchase Price'] >= 80].value_counts().shape[0]

<ipython-input-20-562fb9795245>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['CC Provider'] == 'American Express'][df['Purchase Price'] >= 80].value_counts().shape[0]

174

Скільки людей мають кредитну картку, термін дії якої закінчується в 2025 році?

In [17]:
df[df['CC Exp Date'].str.contains('25')].value_counts().shape[0]

1033

Які найкращі 5 найпопулярніших постачальників / хостів електронної пошти (наприклад, gmail.com, yahoo.com тощо ...).

In [19]:
df['Browser Info'].str.split('/').str[0].value_counts().head(5)

Mozilla    7924
Opera      2076
Name: Browser Info, dtype: int64

Виведіть зведену таблицю по браузерах(Browser Info), посаді(Job), та кількості транзакцій :

In [3]:
df_bi = df['Browser Info'].str.split('/').str[0]
df['c_tr'] = df['Credit Card'].value_counts().tolist()

df.pivot_table(values = ['c_tr'], index = [df_bi, 'Job'])

                                               c_tr
Browser Info Job
Mozilla      Academic librarian                   1
             Accommodation manager                1
             Accountant, chartered                1
             Accountant, chartered certified      1
             Accountant, chartered management     1
...                                             ...
Opera        Water quality scientist              1
             Web designer                         1
             Wellsite geologist                   1
             Writer                               1
             Youth worker                         1

[1222 rows x 1 columns]

Створіть нову колонку "Actual price", яка утворюється із "Purchase Price" та націнки за принципом:
- якщо "Purchase Price" > 50, націнка 20%
- якщо "Purchase Price" > 100, націнка 10%
- в інших випадках націнка 30%

Зробіть рангування набору даних по "Language" та "Actual price" в порядку спадання ціни.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [4]:
df['rank_leng'] = df['Language'].rank()
df['runk_price'] = df['Purchase Price'].rank(ascending = True)
df.head(8)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,rank_leng,runk_price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,1724.0,9810.0
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,5034.0,7012.5
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,578.0,106.5
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,3938.0,7745.0
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,3938.0,7721.5
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,07/25,7169,Discover,ynguyen@gmail.com,Fish farm manager,55.96.152.147,ru,25.15,8364.0,2501.5
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56,578.0,8789.0
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,06/25,256,VISA 13 digit,phillip48@parks.info,Event organiser,224.247.97.150,pt,44.25,7227.5,4375.5

Колонку "Language" (категоріальна змінна) "закодуйте", тобто утворити індикаторні колоник. В наборі не повинна залишитися колонка "Language".

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rank.html

In [6]:
df.Language = df.Language.astype('category').cat.codes
df.set_index('Language', inplace = True)
df.head(4)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price,rank_leng,runk_price
Language,,,,,,,,,,,,,,,
1,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,98.14,1724.0,9810.0
4,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,70.73,5034.0,7012.5
0,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,0.95,578.0,106.5
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,78.04,3938.0,7745.0

Кінцевий набір даних збережіть у файл з розширенням csv.

In [8]:
df.to_csv('Ecommerce converted.csv')